@import "../utils/variables";
@import "../utils/mixins";

.btn {
    border-radius: $rounded-radius;
    position: relative;
    cursor: pointer;
    padding: $padding-small;
    
    @include shadow($light-shadow-colour);

    background: $gradient-primary;
    font-weight: $font-thin;

    z-index: 1;

    a {
        color: $color-white;
    }

    &:hover {

        &::after {
            opacity: 1;
        }
    }

    &::after {
        @include pseudo-element;

        @include shadow($dark-shadow-colour);

        border-radius: $rounded-radius;
        background: linear-gradient(to bottom right, lighten($color-secondary, 2), lighten($color-primary, 2));
        opacity: 0;
        transition: opacity 250ms;
    }
}