@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/maps";


// PRIMARY BUTTON
.btn {
    border-radius: $rounded-radius;
    position: relative;
    cursor: pointer;
    padding: map-get($padding, small);
    width: 20rem;
    text-align: $text-align-center;
    
    @include shadow($light-shadow-colour);

    background: map-get($background, gradient);
    font-weight: map-get($font-weight, thin);

    z-index: 1;

    a {
        color: $color-white;
    }

    &:hover {

        &::after {
            opacity: 1;
        }
    }

    &::after {
        @include pseudo-element;

        @include shadow($dark-shadow-colour);

        border-radius: $rounded-radius;
        background: linear-gradient(to bottom right, lighten($color-secondary, 2), lighten($color-primary, 2));
        opacity: 0;
        transition: opacity 250ms;
    }
}


// SECONDARY BUTTON
.btn-secondary {
border-radius: $squared-radius;
background-color: map-get($background, light-grey);
padding: map-get($padding, small);

@include shadow($light-shadow-colour);

}