@import "../utils/variables";

.location {
    background-color: $bckgr-grey-dark;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    padding: $padding-regular;
}