@import "../utils/variables";
@import "../utils/maps";
@import "../utils/mixins";


// Dish Selection Tick Animation
///////////////////////////////////////////////////////////////////
.menu-item {
    position: relative;
    overflow: hidden;

    // animated icon static code
    &__choice-icon {
        background-color: $color-tertiary;
        border-bottom-right-radius: $squared-radius;
        border-top-right-radius: $squared-radius;

        color: $color-white;
        font-size: 3rem;
        text-align: $text-align-center;
        vertical-align: middle;
        line-height: 1.2;

        height: 100%;
        padding: map-get($padding, small);
        position: absolute;
        top: 0;
        right: 0;

        transform: translateX(100%);
        transition: all 600ms;

        i {
            transition: all 600ms;
            transform: rotate(0);
        }
    }
    // animated icon hover state code
    &:hover > .menu-item__choice-icon {
        transform: translateX(0);

        i {
            transform: rotate(360deg);
        }

    }

    // moving adjacent sibling on hovering
    &__info {
        width: 100%;
        transition: width 600ms;
    }

    

    &:hover > .menu-item__info,
    &:hover > .menu-item__dish {
        width: 75%;

        // min-width 690px
        @include media-queries(tablet) {
            width: 85%;
        }

        // min-width 1000px
        @include media-queries(small-desktop) {
            width: 92%;
        }
    }   
}

// Fade in menu animation
///////////////////////////////////////////////////////////////////
.menu-item {
    animation: slideup 850ms ease-in-out;

    @for $i from 1 through 10 {
        $animation-delay: $i * 200ms;
      
        &--#{$i} {
          animation-delay: $animation-delay;
        }
      }
}

@keyframes slideup {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }


// Loading spinner
///////////////////////////////////////////////////////////////////


// KEYFRAMES

// glass rotation left upper part
@keyframes rotateLeftTop {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(22deg);
    }
}

// glass rotation right upper part
@keyframes rotateRightTop {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-22deg);
    }
}

// glass base rotation
@keyframes rotateLeftTopBottom {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(18deg);
    }
}

// glass base rotation 
@keyframes rotateRightTopBottom {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-18deg);
    }
}


// bars fading up
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: scaleY(1);
      }
      
      33% {
        opacity: 1;
        transform: scaleY(1.4);
      }
      64% {
         opacity: .1;
         transform: scaleY(1);
      }
      100% { 
        opacity: 0;
        transform: scaleY(.3);
      }
}

// loading spinner disappearing
@keyframes disappear {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}

// background
.loading-spinner {
    position: fixed;
    @include flex-columns;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .9;
    background-image: linear-gradient(to bottom right, #CDACF4, #F5A6EE) ;
    z-index: 99;
    visibility: hidden;

    animation: disappear 3000ms ease-out both;

    // wine glasses
    &__glass {
        height: 5rem;
        position: relative;

        // wine glasses bottom
        &::after {
            content: "";
            position: absolute;
            top: 4.7rem;
            left: 5px;
            width: 2rem;
            height: 5px;
            background-color: $color-white;
            
            box-shadow: 0 0 1px $color-white;

        }

        // wine glasses top
        &-top {
            background: $color-white;
            width: 3rem;
            height: 3.6rem;
            border-radius: 0 0 3.6rem 3.6rem;
            box-shadow: 0 0 1px $color-primary;

            // wine
            &::before {
                content: ''; 
                position: absolute;
                left: 4px;
                bottom: 1.8rem;
                width: 2.2rem;
                height: 2.2rem;
                border-radius: 50%;
                background: linear-gradient(transparent 20%, $color-secondary 50%);
            }
            
            // wine glass bottom vertical part
            &::after {
                content: ''; 
                position: absolute;
                top: 3.5rem;
                left: 1.2rem;
                width: 6px;
                height: 1.3rem;
                background: $color-white;
                box-shadow: 0 0 1px white;
            }
        }

        // left wine glass
        &--left {
            display: inline-block;
            margin-right: 1.7rem;
            animation: rotateLeftTop 2000ms cubic-bezier(.39,1.52,.46,.92) infinite;
        }

            //rotate left
            .loading-spinner__glass-top {
                animation: rotateLeftBottom 2000ms linear infinite;
            }
        
        // right wine glass
        &--right {
            display: inline-block;
            animation: rotateRightTop 2000ms cubic-bezier(.39,1.52,.46,.92) infinite;

            // rotate right
            .loading-spinner__glass-top {
                animation: rotateRightBottom 2000ms linear infinite;

            }
        }


    }
    // wine bars
    ul {
        margin: 0;
        padding: 0;
        width: 7rem;
        height: 2.5rem;
        position: relative;
        opacity: 0;
        animation: 2000ms fadeUp infinite linear;
    }

    &__bars {
        width: 6px;
        height: 1.5rem;
        background: $color-primary;
        position: absolute;
        box-shadow: 0 0 1px $color-primary;
        transform-origin: bottom;

        &--1 {
            left: 2.6rem;
            bottom: 5px;
            transform: rotate(-35deg);
        }

        &--2 {
            left: 3.4rem;
            bottom: 8px;
        }

        &--3 {
            left: 42px;
            bottom: 5px;
            transform: rotate(35deg);
        }
    }

    // loading text
    &__text {
        @include font-family("title");
        font-size: map-get($font-size, titles);
        margin-top: 2rem;
        color: $color-primary;

        .dot {
            @for $i from 1 through 3 {
                $animation-delay: $i * 200ms;
                
                &--#{$i} {
                    animation: slideup 1000ms ease-in infinite;
                    animation-delay: $animation-delay;
                }
            }
        }
    }
}



