@import "../utils/variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*  1rem = 10px */
    font-size: 62.5%; 
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
    
    // min-width 690px
    @include media-queries(tablet) {
        font-size: 65%;
    }

    // min-width 1000px
    @include media-queries(small-desktop) {
        font-size: 67%;
    }

    // min-width 1400px
    @include media-queries(large-desktop) {
        font-size: 72%;
    }
}

::selection {
    color: $color-white;
    background-color: $color-primary;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

a {
    text-decoration: none;
    color: $color-black;
}

ul {
    list-style: none;
}