@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/maps";

body {
    @include font-family("body");
    font-size: map-get($font-size, small);
    font-weight: map-get($font-weight, regular);
    text-rendering: optimizeLegibility;
    line-height: 120%;
    letter-spacing: .6px;
    color: $color-black;
}
