@import "../utils/variables";
@import "../utils/mixins";

.restaurant-menu {
    @include flex-columns;

    // image
    &__image {
        width: 100vw;
        height: 18rem;
        object-fit: cover;
        object-position: center;
        z-index: -1;

        //min-width 690 px
        @include media-queries(tablet) {
            height: 28rem;
        }

        //min-width 1000 px
        @include media-queries(small-desktop) {
            height: 40rem;
        }
    }

    // restaurant menu card
    &__card {
        max-width: 100vw;
        @include flex-columns;
        background-color: map-get($background, solid-grey);
        padding: map-get($padding, medium) map-get($padding, tiny);
        margin-top: -4rem;
        border-radius: $squared-radius;
        gap: 1.5rem;
        width: 100vw;

        //min-width 690px
        @include media-queries(tablet) {
            margin: -5rem auto 3rem auto;
            width: 90vw;
            padding: map-get($padding, large);
            @include shadow($light-shadow-colour);
        }

        @include media-queries(large-desktop) {
            width: 85vw;
            padding: 5rem;
        }
    }

    &__title-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include font-family("title");
        font-size: map-get($font-size, titles);
        line-height: 1.1;

        @include media-queries(small-desktop) {
            font-size: 3rem;
        }
    }
    
    // sub-sections titles (entrees, main...)
    &__subtitles {
        font-size: map-get($font-size, medium);
        font-weight: map-get($font-weight, thin);
        color: map-get($grey-shade, grey);
        text-transform: uppercase;
    
        position: relative;
        margin-top: $gutter-regular;
        margin-bottom: $gutter-small;

        // decorative titles borders
        &::after {
            content: "";
            width: 4rem;
            height: 3px;
            background-color: $color-tertiary;
            position: absolute;
            top: 2.2rem;
            left: 0;
    
        }
    }

}

// single dishes cards
.menu-item {
    cursor: pointer;
    @include flex-columns;
    width: 100%;
    gap: .5rem;

    &__dish {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__info  {
        @include flex-rows;
        max-width: 100%;
    }

    &__description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;

        color: map-get($grey-shade, grey);
    }

    &__price {
        font-weight: map-get($font-weight, bold);
    }

}

.menu-btn {
    align-self: center;
    margin: $gutter-regular 0;
}






