// box-shadow light + dark 
@mixin shadow($colour) {
    box-shadow: 3px 3px 8px 2px $colour;
}

// font-families 

@mixin font-family($type) {
    @if $type == "title" {
        font-family: 'Shrikhand', cursive;
    }
    @else {
        font-family: "Roboto", sans-serif;
    }
}

// pseudo-element
@mixin pseudo-element {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;
}

// flexbox column and rows flows
@mixin flex-columns {
    display: flex;
    flex-flow: column wrap;
}

@mixin flex-rows {
    display: flex;
    flex-flow: row wrap;
}





