//main colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// black, white
$color-white: #fff;
$color-black: #1a1a1a;


// box-shadow colors
$dark-shadow-colour: rgba(0,0,0,.3);
$light-shadow-colour: rgba(0,0,0,.2);


// typography
$text-align-center: center;


// margins
$gutter-vertical-regular: 3.5rem;

//border-radius
$rounded-radius: 2.5rem;
$squared-radius: 2rem;
