@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/maps";

.header {
    display: flex;
    justify-content: center;
    padding: map-get($padding, regular);
    @include shadow($dark-shadow-colour);


    &__logo {
        @include font-family("title");
        font-size: map-get($font-size, titles);

    }

    &__arrow--invisible {
        display: none;
    } 
}